@model IEnumerable<MyOpportunity.Models.SimpleRestaurantReview>

@{
    ViewBag.Title = "Index";
}

<h2>Index testtest</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="get" action="@Url.Action("Index")" data-otf-ajax="true" 
      data-otf-target="#restaurantlist">
    <input type="search" name="searchName" data-otf-autocomlete="@Url.Action("Autocomplete")"/>
    <input type="submit" name="Search by name" value="Search by name" />
</form>

@Html.Partial("_Restaurants", Model)


